.container_site{
    width: 100%;
    height: 100vh;
}
  
main{
    height: calc(100vh - 100px);
    overflow: hidden;
}
  
main::after{
    content: "";
    display: table;
    clear: both;
}
  
.sidebar{
    float: left;
    width: 230px;
    height: 100%;
    background-color: black;
}
  
.content{
    float: left;
    width: calc(100% - 230px);
    height: 100%;
    background-color: rgba(20, 25, 34, 1);
    overflow-y: auto;
    overflow-x: hidden;
}
  
.player{
    height: 100px;
    background-color: rgba(40, 40, 40, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MAIN */
/* TITLE */
.title{
    background-color: rgba(8, 11, 18, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    margin-right: 5px;
}
/* /TITLE */

/* GENERI */
.generi{
    display: flex;
    justify-content: center;
}

.content ul li{
    display: inline-block;
    margin: 20px;
}

.content .generi ul li a{
    text-decoration: none;
    color: rgba(125, 127, 132, 1);
}

.title_categories h3{
    margin-left: 30px;
    color: white;
    font-weight: 600;
}

.title_categories p{
    color: rgba(125, 127, 132, 1);
    margin-left: 30px;
}
/* /GENERI */

/* ALBUMS */
.albums{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cover{
    margin-right: 30px;
}

.cover img{
    height: 177px; 
}

.cover h5{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.cover h6{
    color: rgba(125, 127, 132, 1);
    font-size: 15px;
    text-align: center;
}

.circle img{
    border-radius: 50%;
    margin-bottom: 100px;
}
/* /ALBUMS */





/* /MAIN */

/* SIDEBAR */
.sidebar{
    font-weight: 600;
    display: relative;
}

.gray_text{
    color: rgba(113, 113, 113, 1)
}

/* LOGO */
.logo{
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 30px;
}

.logo img{
    height: 45px;
}
/* /LOGO */

/* SEZIONI */
.sidebar ul{
    list-style: none;
    padding-left: 0;
}

.sidebar ul li{
    margin-bottom: 10px;
}

.sezioni ul li img{
    height: 25px;
    padding-right: 10px;  
}

.sezioni ul li span{
    font-size: 13px;
}
/* /SEZIONI */

/* PLAYLIST */
.playlist h3{
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}

.playlist i{
    font-size: 50px;
}

.add{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.square{
    height: 35px;
    width: 35px;
    background-color: rgba(163, 163, 163, 1);
    color: black;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-right: 10px;
}
/* /PLAYLIST */

/* PROFILE */

.sidebar_top{
    height: calc(100vh - 190px);
}
.sidebar_bottom{
    /* background-color: red; */
}

.profile_top img{
    height: 15px;
}

 hr{
    background-color: rgba(113, 113, 113, 1);
}

.profile_bottom img{
    height:30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(113, 113, 113, 1);
}
.profile_bottom span{
    color: white;
    
}
/* /PROFILE */
/* /SIDEBAR */

/* PLAYER */
/* PLAYER LEFT */
.player_left{
    display: flex;
    background-color: red;
    width: 15%;
}

.player_left img{
    height: 50px;
}

.song_title{
    flex-wrap: wrap;
    margin-left: 10px;
}

.player_icon{
    padding-top: 10px;
    margin-left: 50px;
    color: rgba(113, 113, 113, 1);
}
/* /PLAYER LEFT */

/* PLAYER CENTER */
.player_center{
    width: 40%;
}

.top_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_center i{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.top_center i:nth-child(3){
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
    background: #d3d3d3;   
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    background: #4CAF50;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
/* /PLAYER CENTER */

/* PLAYER RIGHT */
.player_right{
      width: 15%;
      background-color: red;
}




/* PLAYER RIGHT */





  