@font-face {
    font-family: 'IlMioFont';
    src: url('./GothamBook.ttf');
}

.container_site{
    font-family: 'IlMioFont';
    width: 100%;
    height: 100vh;
}
  
main{
    height: calc(100vh - 100px);
    overflow: hidden;
} 
main::after{
    content: "";
    display: table;
    clear: both;
}
  
.sidebar{
    float: left;
    width: 230px;
    height: 100%;
    background-color: black;
    font-weight: 600;
    overflow-y: auto;
}

.gray_text{
    color: rgba(113, 113, 113, 1)
}
  
.content{
    float: left;
    width: calc(100% - 230px);
    height: 100%;
    background-color: rgba(20, 25, 34, 1);
    overflow-y: auto;
    overflow-x: hidden;
}
  
.player{
    height: 100px;
    background-color: rgba(40, 40, 40, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.animation_white:hover{
    color: white;
    transition: 10ms;
    cursor: pointer;
}

/* MAIN */
/* CONTENT */
/* Title */
.title{
    background-color: rgba(8, 11, 18, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.title a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    margin-right: 5px;
}
/* /Title */

/* Generi */
.generi{
    display: flex;
    justify-content: center;
    color: rgba(125, 127, 132, 1);
}
.content ul li{
    display: inline-block;
    margin: 20px;
}
.title_categories h3{
    margin-left: 30px;
    color: white;
    font-weight: 600;
}
.title_categories p{
    color: rgba(125, 127, 132, 1);
    margin-left: 30px;
}
/* /Generi */

/* Albums */
.albums{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cover{
    margin-right: 30px;
}
.cover_img img:hover{
    cursor: pointer;
    opacity: 0.5;
}
.cover_img:hover .button_play i{
    display: block;
}
.cover_img{
    position: relative;
}
.cover_img img{
    height: 177px;   
}
.button_play i{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.cover h5{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}
.cover h6{
    color: rgba(125, 127, 132, 1);
    font-size: 15px;
    text-align: center;
}
.circle img{
    border-radius: 50%;
}
/* /Albums */
/* /CONTENT */

/* SIDEBAR */
/* Logo */
.logo{
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 30px;
}
.logo img{
    height: 45px;
}
/* /Logo */

/* Sezioni */
/* .sidebar_top{
    height: calc(100vh - 195px);
} */
.sidebar ul{
    list-style: none;
    padding-left: 0;
}
.sidebar ul li{
    margin-bottom: 10px;
}
.sezioni ul li img{
    height: 25px;
    padding-right: 10px;  
}
.sezioni ul li span{
    font-size: 13px;
}

/* .sezioni ul li:first-child{
    border-left: 1px solid green;
} */
/* /Sezioni */

/* Playlist */
.playlist h3{
    font-size: 15px;
    margin-bottom: 15px;
    color: white;
}

.playlist ul{
    min-height: 180px;
    overflow-y: auto;
    height: calc(100vh - 500px);
}
.playlist ul li{
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.add{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-size: 35px;
    margin-right: 10px;
    background-color: rgba(163, 163, 163, 1);
    color: black;
}
/* /Playlist */

/* Profile */
.profile_top img{
    height: 20px;
    padding-bottom: 2px;
    margin-right: 5px;
}
hr{
    background-color: rgba(113, 113, 113, 1);
}
.profile_bottom img{
    height:30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(113, 113, 113, 1);
}
.profile_bottom span{
    color: white;
    margin-left: 10px;
}
/* /Profile */
/* /SIDEBAR */

/* PLAYER */
/* Player Left */
.cursor:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.player_left{
    display: flex;
    width: 15%;
    align-items: center;
    margin-left: 15px;
}
.player_left img{
    height: 50px;
}
.song_title{
    margin-left: 10px;
    margin-right: 40px;
}
.song_title h5{
    margin-bottom: 0;
    font-size: 15px;
}
.song_title span{
    color: rgba(113, 113, 113, 1);
    font-size: 11px;
}
.player_icon{
    padding-top: 10px;
    color: rgba(113, 113, 113, 1);
}
.player_icon i{
    margin-right: 10px;
}
/* /Player Left */

/* Player Center */
.player_center{
    width: 40%;
}
.top_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_center i{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}
.top_center i:nth-child(3){
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.bottom_center{
    display: flex;
    align-items: center;
}
.bottom_center span{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
}
/* /Player Center */

/* Player Right */
.player_right{
      width: 15%;
      margin-right: 15px;
      display: flex;
      align-items: center;
}
.player_right i{
    margin: 10px;
}
.range_bar{
    height: 6px;
    width: 90%;
    background-color: rgba(90, 90, 90, 1);
    border-radius: 10px;
}
.range{
    height: 6px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
}
/* /Player Right */
/* /PLAYER */
/* /MAIN */








  